{% extends 'post/base.html' %}


{% block css %}
<style>

    .wrapper {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container1 {
        width: 350px; height: 300px; border: 1px solid gray;
        align-items: center;
    }

    .container1 img {
        width: 350px; height: 300px;
        
    }
    

    .container2 {
        width: 300px; height: 300px; border: 1px solid gray;
    }

    .container2 .title {
        text-align: center; border-bottom: 1px solid gray; 
        justify-content: center; align-items: center; height: 30px; line-height:15px;
    }

</style>
{% endblock %} 



{% block body %}
{% for subject in subjects %}
<div class="wrapper post-{{ subject.id }}" >
    <div class="container1">
        <img src="{{ subject.image.url }}">
    </div>    
    <div class="container2">
        <h2 class="title"> {{ subject.title }} </h2>
        <div class="content"> {{ subject.content }} </div>
        <div class="comment_t">댓글
            {% for comment in subject.comments.all %}
                <div class="comment"> {{ subject.comment }} </div>
            {% endfor %}
        </div>
        
        <button type="submit" onclick="onClickBtn({{ subject.id }})" name="type" >
            {% if subject.like == False %}
                <script src="https://kit.fontawesome.com/131f1805d6.js" crossorigin="anonymous"></script>
                <i class="far fa-heart"></i>
                <p class="ctt">게시물이 마음에 드신다면 좋아요를 눌러주세요!</p>
            {% else %} 
                <i class="fas fa-heart"></i>
                <p class="ctt">이 게시물에 좋아요를 누르셨습니다!</p>
            {% endif %}
        </button>
    </div>
    
    
</div>
{% endfor %}

{% endblock %}



{% block js %}
<script>
    const request = new XMLHttpRequest();

    const onClickBtn = (id) => {
        const url = "/subjects/ajax/";
        request.open("POST", url, true);
        request.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        request.send(JSON.stringify({id: id }));
    };

    const handleResponse = () => {
        if (request.status <= 400) {
            const { id, type } = JSON.parse(request.response);
            const cont = document.querySelector(
                `.post-${id} i`);
            const element = document.querySelector(
                `.post-${id} .ctt`);
            console.log(id)

            if (type === false) {
                cont.className = "far fa-heart";
                element.innerText = "게시물이 마음에 드시면 좋아요를 눌러주세요!";}
            else {
                cont.className = "fas fa-heart";
                element.innerText = "이 게시물에 좋아요를 누르셨습니다!";}
            
        }
    };

    request.onreadystatechange = () => {
        if (request.readyState === XMLHttpRequest.DONE) {
            handleResponse();
        }
    };

    
</script>
  
{% endblock %}